@import 'mixins.styl'
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display block

body
	line-height 1

ol, ul
	list-style none

blockquote, q
	quotes none

blockquote:before, blockquote:after,
q:before, q:after
	content ''
	content none

table
	border-collapse collapse
	border-spacing 0

styles_important()
	for k,v in arguments
		{k} v !important

add_style(obj, args)
	.u-{obj}
		{args}

/*=================================================================*/

*
	box-sizing border-box
	& + .m\\\:t.m\\\:t
		margin-top 20px!important

html
	font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
	font-size 16px
	font-weight normal
	line-height 1.5
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	background #fff
	color #666

body
	margin 0

a
	background-color transparent
	-webkit-text-decoration-skip objects

a:active, a:hover
	outline none

a, .link
	color #2196F3
	text-decoration none
	cursor pointer

a:hover, .link:hover
	color #0D47A1
	text-decoration underline

abbr[title]
	border-bottom none
	text-decoration underline
	text-decoration underline dotted

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	margin 0 0 20px 0
	font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
	font-weight normal
	color #333
	text-transform none

* + h1, * + .h1, * + h2, * + .h2, * + h3, * + .h3, * + h4, * + .h4, * + h5, * + .h5, * + h6, * + .h6
	margin-top 40px

h1, .h1
	font-size 2.625rem
	line-height 1.2

h2, .h2
	font-size 2rem
	line-height 1.3

h3, .h3
	font-size 1.5rem
	line-height 1.4

h4, .h4
	font-size 1.25rem
	line-height 1.4

h5, .h5
	font-size 16px
	line-height 1.4

h6, .h6
	font-size 0.875rem
	line-height 1.4

ul, ol
	padding-left 30px

ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul
	margin 0

a.link-muted, .link-muted a
	color #999

a.link-muted:hover, .link-muted a:hover
	color #666

a.link-text:not(:hover), .link-text a:not(:hover)
	color inherit !important

a.link-text:hover, .link-text a:hover
	color #999

a.link-reset, a.link-reset:hover, .link-reset a, .link-reset a:hover
	color inherit !important
	text-decoration none !important

.container
	width 100%
	max-width 320px
	max-width 1200px
	margin 0 auto

.row
	padding 15px 0
	display -webkit-box
	display -webkit-flex
	display -ms-flexbox
	display flex
	-webkit-flex-wrap wrap
	-ms-flex-wrap wrap
	flex-wrap wrap

.col
	-webkit-flex-basis 0
	-ms-flex-preferred-size 0
	flex-basis 0
	-webkit-box-flex 1
	-webkit-flex-grow 1
	-ms-flex-positive 1
	flex-grow 1
	max-width 100%
	&.one
		-webkit-box-flex 0
		-webkit-flex 0 0 8.333333%
		-ms-flex 0 0 8.333333%
		flex 0 0 8.333333%
		max-width 8.333333%
	&.two
		-webkit-box-flex 0
		-webkit-flex 0 0 16.666667%
		-ms-flex 0 0 16.666667%
		flex 0 0 16.666667%
		max-width 16.666667%
	&.three
		-webkit-box-flex 0
		-webkit-flex 0 0 25%
		-ms-flex 0 0 25%
		flex 0 0 25%
		max-width 25%
	&.four
		-webkit-box-flex 0
		-webkit-flex 0 0 33.333333%
		-ms-flex 0 0 33.333333%
		flex 0 0 33.333333%
		max-width 33.333333%
	&.five
		-webkit-box-flex 0
		-webkit-flex 0 0 41.666667%
		-ms-flex 0 0 41.666667%
		flex 0 0 41.666667%
		max-width 41.666667%
	&.six
		-webkit-box-flex 0
		-webkit-flex 0 0 50%
		-ms-flex 0 0 50%
		flex 0 0 50%
		max-width 50%
	&.seven
		-webkit-box-flex 0
		-webkit-flex 0 0 58.333333%
		-ms-flex 0 0 58.333333%
		flex 0 0 58.333333%
		max-width 58.333333%
	&.eight
		-webkit-box-flex 0
		-webkit-flex 0 0 66.666667%
		-ms-flex 0 0 66.666667%
		flex 0 0 66.666667%
		max-width 66.666667%
	&.nine
		-webkit-box-flex 0
		-webkit-flex 0 0 75%
		-ms-flex 0 0 75%
		flex 0 0 75%
		max-width 75%
	&.ten
		-webkit-box-flex 0
		-webkit-flex 0 0 83.333333%
		-ms-flex 0 0 83.333333%
		flex 0 0 83.333333%
		max-width 83.333333%
	&.eleven
		-webkit-box-flex 0
		-webkit-flex 0 0 91.666667%
		-ms-flex 0 0 91.666667%
		flex 0 0 91.666667%
		max-width 91.666667%
	&.twelve
		-webkit-box-flex 0
		-webkit-flex 0 0 100%
		-ms-flex 0 0 100%
		flex 0 0 100%
		max-width 100%

.btn, .btn:hover
	text-decoration none

.btn
	-webkit-border-radius 5px
	border-radius 5px
	margin 0
	border none
	overflow visible
	font inherit
	color inherit
	text-transform none
	display inline-block
	box-sizing border-box
	padding 0 30px
	vertical-align middle
	font-size 16px
	line-height 40px
	text-align center
	&:not(:disabled)
		cursor pointer
	&::-moz-focus-inner
		border 0
		padding 0
	&:focus
		outline 0

.btn\\\:default
	background-color #f8f8f8
	color #333

.btn\\\:default:focus,.btn\\\:default:hover
	background-color #ebebeb
	color #333

.btn\\\:default.active,.btn\\\:default:active
	background-color #dfdfdf
	color #333

.btn\\\:primary
	background-color #2196F3
	color #fff

.btn\\\:primary:focus,.btn\\\:primary:hover
	background-color #0f7ae5
	color #fff

.btn\\\:primary.active,.btn\\\:primary:active
	background-color #0e6dcd
	color #fff

.btn\\\:secondary
	background-color #222
	color #fff

.btn\\\:secondary:focus,.btn\\\:secondary:hover
	background-color #151515
	color #fff

.btn\\\:secondary.active,.btn\\\:secondary:active
	background-color #080808
	color #fff

.btn\\\:danger
	background-color #F44336
	color #fff

.btn\\\:danger:focus,.btn\\\:danger:hover
	background-color #D50000
	color #fff

.btn\\\:danger.active,.btn\\\:danger:active
	background-color #ec2147
	color #fff

.btn\\\:danger:disabled,.btn\\\:default:disabled,.btn\\\:primary:disabled,.btn\\\:secondary:disabled
	background-color #f8f8f8
	color #999

.btn\\\:small
	padding 0 15px
	line-height 30px
	font-size .875rem

.btn\\\:large
	padding 0 40px
	line-height 55px
	font-size 1.25rem

.btn\\\:link,.btn\\\:text
	padding 0
	line-height 1.5
	background 0 0

.btn\\\:text
	color #999
	&:disabled
		color #999

.btn\\\:text:focus,.btn\\\:text:hover
	color #666

.btn\\\:link
	color #2196F3
	&:disabled
		color #999
		text-decoration none

.btn\\\:link:focus,.btn\\\:link:hover
	color #0D47A1
	text-decoration underline

.btn\\\:group
	display -ms-inline-flexbox
	display -webkit-inline-flex
	display inline-flex
	vertical-align middle
	position relative

.grid
	display -ms-flexbox
	display -webkit-flex
	display flex
	-ms-flex-wrap wrap
	-webkit-flex-wrap wrap
	flex-wrap wrap
	margin 0 0 0 -30px
	padding 0
	list-style none
	& > *
		margin 0
		padding-left 30px
		& > :last-child
			margin-bottom 0

*+.grid\\\:margin,.grid+.grid,.grid>.grid\\\:margin
	margin-top 30px

@media (min-width:1200px)
	.grid
		margin-left -40px
		& > *
			padding-left 40px

.grid\\\:small
	margin-left -15px
	& > *
		padding-left 15px

*+.grid\\\:margin-small,.grid+.grid\\\:small,.grid\\\:small>.grid\\\:margin
	margin-top 15px

.grid\\\:medium
	margin-left -30px
	& > *
		padding-left 30px

*+.grid\\\:margin-medium,.grid+.grid\\\:medium,.grid\\\:medium>.grid\\\:margin
	margin-top 30px

.grid\\\:large
	margin-left -40px
	& > *
		padding-left 40px

*+.grid\\\:margin-large,.grid+.grid\\\:large,.grid\\\:large>.grid\\\:margin
	margin-top 40px

@media (min-width:1200px)
	.grid\\\:large
		margin-left -70px
		& > *
			padding-left 70px

@media (min-width:1200px)  
	*+.grid\\\:margin-large,.grid+.grid\\\:large,.grid\\\:large>.grid\\\:margin
		margin-top 70px

.grid\\\:collapse
	margin-left 0
	& > *
		padding-left 0

.grid+.grid\\\:collapse,.grid\\\:collapse>.grid\\\:margin
	margin-top 0

.grid\\\:divider
	margin-left -60px
	& > *
		position relative
		padding-left 60px
	& > :not(.first-column)::before
		content ""
		position absolute
		top 0
		bottom 0
		border-left 1px solid #e5e5e5
		left 30px
	&.grid\\\:stack
		& > .grid\\\:margin
			margin-top 60px
			&::before
				content ""
				position absolute
				right 0
				border-top 1px solid #e5e5e5
				top -30px
				left 60px
	&.grid\\\:small
		margin-left -30px
		& > *
			padding-left 30px
		& > :not(.first-column)::before
			left 15px
		&.grid\\\:stack
			& > .grid\\\:margin
				margin-top 30px
				&::before
					top -15px
					left 30px
	&.grid\\\:medium
		margin-left -60px
		& > *
			padding-left 60px
		& > :not(.first-column)::before
			left 30px
		&.grid\\\:stack
			& > .grid\\\:margin
				margin-top 60px
				&::before
					top -30px
					left 60px
	&.grid\\\:large
		margin-left -80px
		& > *
			padding-left 80px
		& > :not(.first-column)::before
			left 40px
		&.grid\\\:stack
			& > .grid\\\:margin
				margin-top 80px
				&::before
					top -40px
					left 80px

@media (min-width:1200px)
	.grid\\\:divider
		margin-left -80px
		& > *
			padding-left 80px
		& > :not(.first-column)::before
			left 40px
		&.grid\\\:stack
			& > .grid\\\:margin
				margin-top 80px
				&::before
					top -40px
					left 80px

@media (min-width:1200px)
	.grid\\\:divider
		&.grid\\\:large
			margin-left -140px
			& > *
				padding-left 140px
			& > :not(.first-column)::before
				left 70px
			&.grid\\\:stack
				& > .grid\\\:margin
					margin-top 140px
					&::before
						top -70px
						left 140px

.grid\\\:item-match,.grid\\\:match>*
	display -ms-flexbox
	display -webkit-flex
	display flex
	-ms-flex-wrap wrap
	-webkit-flex-wrap wrap
	flex-wrap wrap

.grid\\\:item-match>:not([class*=width]),.grid\\\:match>*>:not([class*=width])
	box-sizing border-box
	width 100%
	-ms-flex auto
	-webkit-flex auto
	flex auto

.article::before, .article::after
	content ""
	display table

.article
	&::after
		clear both
	& > :last-child
		margin-bottom 0
	& + .article
		margin-top 70px

.article\\\:title
	font-size 2.625rem
	line-height 1.2

.article\\\:meta
	font-size 0.875rem
	line-height 1.4
	color #999

.text\\\:lead
	font-size 1.5rem
	line-height 1.5
	color #333

.text\\\:meta
	font-size 0.875rem
	line-height 1.4
	color #999

.text\\\:small
	font-size 0.875rem
	line-height 1.5

.text\\\:large
	font-size 1.5rem
	line-height 1.5

.text\\\:bold
	font-weight bolder

.text\\\:uppercase
	text-transform uppercase !important

.text\\\:capitalize
	text-transform capitalize !important

.text\\\:lowercase
	text-transform lowercase !important

.text\\\:muted
	color #999 !important

.text\\\:primary
	color #2196F3 !important

.text\\\:success
	color #32d296 !important

.text\\\:warning
	color #faa05a !important

.text\\\:danger
	color #F44336 !important

.text\\\:nowrap,.text\\\:truncate
	white-space nowrap

.text\\\:background
	-webkit-background-clip text
	-webkit-text-fill-color transparent
	display inline-block
	color #2196F3!important

.text\\\:left
	text-align left!important
.text\\\:left\@m
	text-align left!important
.text\\\:left\@l
	text-align left!important
.text\\\:left\@xl
	text-align left!important
.text\\\:top
	vertical-align top!important

.text\\\:right
	text-align right!important

.text\\\:center
	text-align center!important

.text\\\:justify
	text-align justify!important

.text\\\:left\@s
	text-align left!important

.text\\\:right\@s
	text-align right!important

.text\\\:center\@s
	text-align center!important

.text\\\:right\@m
	text-align right!important

.text\\\:center\@m
	text-align center!important

.text\\\:right\@l
	text-align right!important

.text\\\:center\@l
	text-align center!important

.text\\\:right\@xl
	text-align right!important

.text\\\:center\@xl
	text-align center!important

.text\\\:middle
	vertical-align middle!important

.text\\\:bottom
	vertical-align bottom!important

.text\\\:baseline
	vertical-align baseline!important

.text\\\:truncate
	max-width 100%
	overflow hidden
	text-overflow ellipsis

td.text\\\:truncate,th.text\\\:truncate
	max-width 0

.text\\\:break
	overflow-wrap break-word
	word-wrap break-word
	-webkit-hyphens auto
	-ms-hyphens auto
	-moz-hyphens auto
	hyphens auto

td.text\\\:break,th.text\\\:break
	word-break break-all


.m\\\:t
	margin-top 20px!important

.m\\\:b
	margin-bottom 20px!important

.m\\\:l
	margin-left 20px!important

.m\\\:r
	margin-right 20px!important

.m\\\:sm
	margin-bottom 10px

*+.m\\\:sm,.m\\\:sm\\\:t
	margin-top 10px!important

*+.m\\\:lg,*+.m\\\:m,.m\\\:lg-top,.m\\\:m\\\:t
	margin-top 40px!important

.m\\\:sm\\\:b
	margin-bottom 10px!important

.m\\\:sm\\\:l
	margin-left 10px!important

.m\\\:lg\\\:l,.m\\\:m\\\:l
	margin-left 40px!important

.m\\\:sm\\\:r
	margin-right 10px!important

.m\\\:lg\\\:r,.m\\\:m\\\:r
	margin-right 40px!important

.m\\\:m
	margin-bottom 40px

.m\\\:m\\\:b
	margin-bottom 40px!important

.m\\\:lg
	margin-bottom 40px

.m\\\:lg\\\:b
	margin-bottom 40px!important

@media (min-width:1200px)
	.m\\\:lg
		margin-bottom 70px
	.m\\\:lg\\\:b
		margin-bottom 70px!important
	.m\\\:lg\\\:l
		margin-left 70px!important
	.m\\\:lg\\\:r
		margin-right 70px!important

@media (min-width:1200px) 
	*+.m\\\:lg,.m\\\:lg\\\:t
		margin-top 70px!important

	.m\\\:xlg
		margin-bottom 70px

	*+.m\\\:xlg,.m\\\:xlg\\\:t
		margin-top 70px!important

	.m\\\:xlg\\\:b
		margin-bottom 70px!important

	.m\\\:xlg\\\:l
		margin-left 70px!important

	.m\\\:xlg\\\:r
		margin-right 70px!important

@media (min-width:1200px)
	.m\\\:xlg
		margin-bottom 140px
	.m\\\:xlg\\\:b
		margin-bottom 140px!important
	.m\\\:xlg\\\:l
		margin-left 140px!important
	.m\\\:xlg\\\:r
		margin-right 140px!important

@media (min-width:1200px)
	*+.m\\\:xlg,.m\\\:xlg\\\:t
		margin-top 140px!important

.m\\\:rm-adjacent+*,.m\\\:rm\\\:t
	margin-top 0!important

.m\\\:rm
	margin 0!important

.m\\\:rm\\\:b
	margin-bottom 0!important

.m\\\:rm\\\:l
	margin-left 0!important

.m\\\:a,.m\\\:a\\\:l
	margin-left auto!important

.m\\\:rm\\\:r
	margin-right 0!important

.m\\\:a,.m\\\:a\\\:r
	margin-right auto!important

.m\\\:rm\\\:v
	margin-top 0!important
	margin-bottom 0!important

.m\\\:a\\\:b,.m\\\:a\\\:v
	margin-bottom auto!important

.m\\\:a\\\:t,.m\\\:a\\\:v
	margin-top auto!important

.p\\\:t
	padding 30px

.p\\\:sm
	padding 15px

.p\\\:lg
	padding 30px

@media (min-width:1200px)
	.p\\\:lg
		padding 70px

.p\\\:rm
	padding 0!important

.p\\\:rm\\\:t
	padding-top 0!important

.p\\\:rm\\\:b
	padding-bottom 0!important

.p\\\:rm\\\:l
	padding-left 0!important

.p\\\:rm\\\:r
	padding-right 0!important

.p\\\:rm\\\:v
	padding-top 0!important
	padding-bottom 0!important

.p\\\:rm\\\:h
	padding-left 0!important
	padding-right 0!important

/*=================================================================*/
/* opacity */
	add_style('op\#0' , {'opacity': 0})
	for x in (1..9)
		add_style('op\#'+x , {'opacity': x / 10})
	add_style('op\#10' , {'opacity': 1})

/*=================================================================*/
/* color */
	for x in range(0, 9)
		c = convert('#' + x + x + x)
		add_style('c\#' + x, {'color': c})
		
	add_style('c\#a', {'color': #aaa})
	add_style('c\#b', {'color': #bbb})
	add_style('c\#c', {'color': #ccc})
	add_style('c\#d', {'color': #ddd})
	add_style('c\#e', {'color': #eee})
	add_style('c\#f', {'color': #fff})

/*=================================================================*/
/* background-color */
for x in range(0, 9)
	c = convert('#' + x + x + x)
	add_style('bgc\#' + x, {'background-color': c})

add_style('bgc\#a', {'background-color': #aaa})
add_style('bgc\#b', {'background-color': #bbb})
add_style('bgc\#c', {'background-color': #ccc})
add_style('bgc\#d', {'background-color': #ddd})
add_style('bgc\#e', {'background-color': #eee})
add_style('bgc\#f', {'background-color': #fff})
add_style('bgc\#biege', {'background-color': #f5f5dc})