support-for-ie ?= true

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

transition()
	vendor('transition', arguments)

box-shadow()
	vendor('box-shadow', arguments)

box-sizing()
	vendor('box-sizing', arguments)

background-size()
	vendor('background-size', arguments)

flex-basis()
	vendor('flex-basis', arguments)

flex-grow()
	vendor('flex-grow', arguments)
	
hyphens()
	vendor('hyphens', arguments)
		
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

placeholder_color(arguments)
	&::-webkit-input-placeholder
		color arguments
	&::-moz-placeholder
		color arguments
	&:-moz-placeholder
		color arguments
	&:-ms-input-placeholder
		color arguments
		
